header{
	width: 100%;
	height: 100%;
}

#header-top{
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: #fff
}

#header-left{
	height: 46px;
	line-height: 46px;
	padding: 0 30px;
}

#header-left a i:before{
	margin: 0
}

#header-left #toggle-menu{
	font-size: 32px;
	color: #fff;
	letter-spacing: 0;
}


#header-right{
	display: none;
	padding: 0 30px 0 310px;
	/*float: left;*/
}

#header-right:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

#header-right div{
	display: inline-block;
	vertical-align: middle;
}

#header-title-bread{
}

#header-right #header-title-bread h3{
	text-transform: uppercase;
	font-size: 18px;
	margin: 0
}

#breadcrumb a{
	font-size: 12px;
	color: #959595
}

#header-user{
	line-height: 76px;
	position: relative;
}

#header-user ul{
	width: 100%;
	line-height: 20px;
	position: absolute;
	background-color: #fff;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.2s ease-out; 
	transition: height 0.2s ease-out; 
}

#header-user ul li{
	padding: 5px 10px;
}

#header-user:hover ul{
	height: 90px;
}

nav{
	position: fixed;
	padding-top: 46px;
	background-color: #525252;
	color: #fff;
	height: 100%;
	width: 100%;
	top: -100%;
	-webkit-transition: top 0.3s ease-out; 
	transition: top 0.3s ease-out; 
}

nav.open{
	top: 0;
}

nav ul li{
	font-size: 16px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
	width: 100%;
	height: 46px;
	border-left-width: 3px;
	border-left-color: #525252;
	border-left-style: solid;
	line-height: 46px;
	padding-left: 30px;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

nav ul li a:hover{
	background-color: #414141;
}

nav ul li a i{
	margin-right: 10px;
}

nav ul li a #notifications{
	font-size: 12px;
	height: 20px;
	padding: 0 5px;
	border-radius: 15px;
    -webkit-border-radius: 15px;
    background-clip: padding-box;
    margin-right: 30px;
    display: inline-block;
    line-height: 20px;
    margin-top: 13px;
}


@media (min-width: 768px){
	nav{
		max-width: 280px;
		height: auto;
		right: 0;
		padding-bottom: 10px;
	}
}

@media (min-width: 1200px) {
	#header-right{
		display: block;
	}

	#header-left, #header-right{
		height: 76px
	}

	#header-left{
		width: 280px;
		float: left;
	}

	#header-left #toggle-menu{
		display: none;
	}

	nav{
		right: auto;
		height: 100%;
		top: 0;
		padding-top: 125px;
	}
}